
<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="search city"  name="city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/Hot.png" *ngIf="weatherData.main.temp > 65">
    <img src="../assets/night.jpg" *ngIf="weatherData.main.temp <=65">
    <div class="weather-data">
      <div class="location">{{weatherData.name}}</div>
      <div class="temperature">{{weatherData.main.temp | number:'1.0-0'}}°F</div>

    </div>
    
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.jpg" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min}}°F
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.jpg" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max}}°F
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>WindSpeed</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}}Km/h
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humid.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}%
        </div>
      </div>
    </div>

    
  </div>
</div>
<!-- 
<div class="container">
  <div class="upper-data">
    <img src="../assets/Hot.png" *ngIf="14 > 15"  >
    <img src="../assets/night.jpg" *ngIf="14<=15">
    <div class="weather-data">
      <div class="location">Wellington</div>
      <div class="temperature">{{14.2 | number:'1.0-0'}}°C</div>

    </div>
    
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.jpg" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.jpg" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          30°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>WindSpeed</span>
        </div>
        <div class="info-block-value">
          11Km/h
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humid.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          77%
        </div>
      </div>
    </div>

    
  </div>
</div> -->

<router-outlet></router-outlet>
